/* *{
    margin: 0;
    padding: 0;
    list-style: none;
    
} */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    font-family: 'Playfair Display', serif;
}
h1 {
    font-size: 30px;
    color: #fff;
}

/* h2{
    color: #fff;
} */
#menu_control {
    opacity: 0;
    position: absolute;
    z-index: -3;
}

.title-navbar {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 5;
}

.title-navbar .navbar-top {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #6b5549;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.title-navbar .logo {
    width: 60px;
    height: 40px;
    margin: 0 10px;

}

.title-navbar .logo img {}

.title-navbar h1 {
    margin: auto 15px;
}

.title-navbar .title-nav {
    margin-left: 15px;
    padding: 15px 10px;
    /* border-left: 2px solid #fff;
    border-right: 2px solid #fff; */
}

.title-navbar .title-nav a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    position: relative;
}
.title-navbar .title-nav a::after{
   content: ">";
   position: absolute;
   right: -19%;
   top: 0;
   transform: rotate(90deg);
   transition: .2s;
}
.title-navbar .title-nav a:hover::after{
    transform: rotate(270deg);
}
.title-navbar label {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 6px;
    background-color: #000;
    position: absolute;
    top: 10px;
    right: 20px;
    display: none;
    /* opacity: 0; */
}

.title-navbar label::before {
    content: "";
    height: 2px;
    width: 46px;
    background-color: #ccc;
    position: absolute;
    top: 0;
    left: 2px;
    right: 2px;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 10px 0 #ccc,
        0px -10px 0 #ccc;
}

.title-navbar label span {
    opacity: 0;
    z-index: -1;
}

.title-navbar .branch-nav {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #deb887;
    /* display: none; 用none和block沒動畫 */
    /* opacity: 0; */
    top: -10px;
    z-index: -1;
    transition: .3s;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .4);

}

.title-navbar .branch-nav nav {
    display: flex;
    height: 100%;
    align-items: center;
    /* 要有高度才能垂直置中 */
    justify-content: space-evenly;
    /* box-sizing: border-box; */
}

.title-navbar .branch-nav nav a{
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    position: relative;
    transition: .2s;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    /* padding: 10px 0; */
    /* background-color: #fff; */
}

.title-navbar .branch-nav nav a:hover{
    color: #333;
    border-bottom: 2px solid #6b5549;
}



.navbar-top .title-nav:hover~.branch-nav {
    /* display: block;用none和block沒動畫 */
    top: 70px;
    /* z-index: 0; */
    /* opacity: 1; */
}

.title-navbar .branch-nav:hover {
    /* display: block;用none和block沒動畫 */
    top: 70px;
    /* z-index: 0; */
    /* opacity: 1; */
}




.title-page {
    width: 100%;
    height: 100vh;

}

.title-page .wrap {
    height: 100%;
    position: relative;
    background:
        linear-gradient(115deg, #6b5549 50%, transparent 50%)center center / 100% 100%,
        url(img/lily-banse--YHSwy6uqvk-unsplash.jpg)no-repeat right center / auto 100%;
        

}

.title-page .item {
    width: 45%;
    position: absolute;
    top: -12%;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vh;
    
}

.title-page h1 {
    font-size: 42px;
    margin-bottom: 4px;
}

.title-page h3 {
    font-size: 26px;
    margin-bottom: 4px;
}

.title-page p {
    font-size: 16px;
    /* 以上都是首頁封面 */
}

.pic-card{
    
    width: 100%;
    /* max-height: 40vh; */
    height: auto;
    background-color: aliceblue;
}
.pic-card .wrap{
    width: 100%;
    height: 100%;
    display: flex;
}
.pic-card .item{
    width: 25%;
    min-width: 25%;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    position: relative;
    
}

.banner{
    width: 100%;
    height: 60vh;
    position: relative;
}
.banner img{
    width: 100%;
    height: 100%;
    vertical-align:middle;
    object-fit: cover;
}
.banner p{
    font-size: 36px;
    background-color: rgba(0,0,0,.4);
    box-shadow: 0 0 15px #000;
    backdrop-filter: blur(2px);
    color: #feaa66;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
.pic-card img {
    width: 100%;
    height: 300px;
    vertical-align:middle;
     object-fit: cover;
     object-position: 50% 42%;
    /* 讓圖片下面沒有一點點空格 */
}
.pic-card .txt{
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   background-color: rgba(0, 0, 0, .6);
   opacity: 0;
   transition: .3s;
   text-decoration: none;
}
.pic-card .txt h2{
    /* padding: 0 10px; */
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
    
}
.pic-card .txt h2:after{
    content: "";
    margin:10px 0;
    display: block;
    background-color:deepskyblue;
    width: 0%;
    height: 2px;
    transition: .45s .2s;
}
.pic-card .txt a{
    text-decoration: none;
    color: #fff;
    transition: .3s;
}
.pic-card .txt p{
    width: 100%;
    margin-right: 10px;
    
    font-size: 16px;
    color: #fff;
}
.pic-card .item:hover .txt{
    opacity: 1;
}
.pic-card .item:hover h2:after{
    width: 100%;
}
.txt a:hover{
    color:#feaa66;
}



/* 以上首頭 */





.serve{
    box-sizing: border-box;
    /* width: 100%; */
    height: 100%;
    background:linear-gradient(0deg,#6b5549,#7b6655)center center/100% 100%;
    margin: 0;
    /* background-color: #6b5549; */
    /* margin: auto; */
}
.serve .wrap{
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 10px;
    
    
    /* margin: auto; */
    
}
.serve .item{
    /* box-sizing: border-box; */
    width: 47%;
    height: 60vh;
    max-height: 500px;
    margin: 0 10px 20px 10px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    
}

.serve .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    object-position: 50% 50%;
    transition: .3s;
    
}

.serve .item p{
    position: absolute;
    width: 40%;
    height: 32%;
    top: 0;
    right: 0;
    left: 0;
    bottom: -5%; 
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 40px;
    z-index: 2;
    opacity: 0;
    transition: .3s;
    /* background-color: #000; */
}
.serve .item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: .3s;
    cursor: pointer;
}
.serve .item:hover p{
    opacity: 1;
}
.serve .item:hover::after{
    opacity: 1;
    background-color: rgba(0,0,0,.5);
}
.serve .item:hover img{
    transform: scale(1.3);
}


.container-fluid.ftbg{
    width: 100%;
    height: 100%;
    background-color: #000;
}

.container-fluid .foodtext {

    color: #eee;
    width: 100%;
    /* height: 100%; */
    text-align: center;
    /* background-color: #000; */
}

.container-fluid .foodtext h3 {
    padding: 10px 0;
    font-size: 30px;
    position: relative;
}

.container-fluid .foodtext p {
    font-size: 16px;
    padding: 5px 0;
    margin: 0;
}

.container-fluid .foodtext h3 a {
    content: "";
    position: absolute;
    top: 5%;
    left: 70%;
    font-size: 30px;
    text-decoration: none;
    color: #ccc;
    padding: 6px;
}

.container-fluid .foodtext h3 a:hover {
    border-radius: 20px;
    background-color: #fa0;
    color: #fff;
}

.footer{
    padding: 3vh 6vh 3vh 6vh;
    height: 100%;
    background-color: #111;
}

.footer .wrap {
    width: 80%;
    margin: auto;
    height: 100%;

}

.footer .item {
    width: 30%;
    height: 100%;
    /* flex-grow: 1; */
    

}

.footer .wrap h3{
    width: 100%;
    height: 15%;
    font-size: 26px;
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
    border-bottom: 2px solid #ffe;
    
}

.footer .wrap .item nav{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    height: 85%;
    width: 100%;
    text-decoration: none;
    
}

.footer nav a {
    text-decoration: none;
    /* background-color: #ccc; */
    padding: 5px;
    
    font-size: 18px;
    color: #fff;
    position: relative;
    transition: .3s;
}

/* .footer nav a+a::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    top: 0;
    left: 0;
    border-top: 1px solid #Fff;
} */

.footer nav a:hover{
    transform: translateX(-10%);
    background-color: #fa0;
}
.food{
    width: 100%;
    max-width: 1400px;
    margin: auto;
}
.food .row{
    width: 100%;
    margin:auto;
    padding-right: 0;
    padding-left: 0;
}
.food .row h2{ 
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.food .row .col{
    width: 50%;
    height: auto;
    max-height: 700px;
    margin-bottom: 10px;
}
.food .row .col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 60%;
    border-radius: 10px;
    padding: 0;
}
.food .row .col h4{
    padding: 10px 0;
    font-size: 30px;
    margin: 20px;
    border-bottom: 2px solid #000;
}
.food .row .col p{
    box-sizing: border-box;
    
    font-size: 18px;
    margin: 0 10px;
    line-height: 2;
}
.textcol{
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
    text-align: center;
}

.food .col:nth-child(3n+4){
    order: 1;
}




/* 以下簡介區 */

.article{
   width: 100%;
   padding: 8vh 0;
   display: flex;
   margin: 0;
   
}
.article h2{
    text-align: center;
    font-size: 2vw;
    padding: 10px 0;
    text-shadow: 0px 6px 0 #ccc;
}
.article .articlerow{
     width: 75%; 
     /* background-color: #000; */
     flex-direction: column;
     margin-right: 5px;
     box-shadow: 0px 0px 10px #ccc;
}
.article .articlerow .col{
    width: 80%;
    height: 83vh;
     text-align: center;
    margin: auto;
}
.article .articlerow .col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article .articlerow .col p{
    margin: 15px 0;
   
}
.article .menu{
    width: 25%;
    /* background-color: #fa0; */
    flex-direction: column;
    position: relative;
    
}

.article .menu nav{
    position: sticky;
    top: 10%;
    height: 30%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.article .menu nav a{
    width: 10vw;
    height: 6vh;
    border:1px solid #f77;
    box-shadow: 1px 5px 5px #ccc;
    padding: 10px;
    margin: 2px 0;
    color: #704214;
    text-decoration: none;
    transition: .2s;
    
}

.article nav a:hover{
    background-color: #f91;
    color: #fff;
    transform: translateX(-10%);
}
/* 以下餐點區 */

.container-com{
    padding: 20px 0;
    width: 100%;
    height: 100%;
}
.container-com .wrap{
    width: 100%;
    height: 100%;
}
.container-com .item{
    width: 100%;
    height: 100%;
    margin: 20px 0;
}
.container-com .com{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    
    /* flex-direction: column; */
   
}
.container-com .com a{
    
    width: 30%;
    height: 100%;
    /* max-height: 350px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px #ccc;
    text-decoration: none;
    border-radius: 10px;
    color: #333;
    margin: 0 15px;
}
.container-com a:hover {
    color: #fa0;
}
.container-com .com img{
    width: 100%;
    min-height: 400px;
    max-height: 700px;
    object-fit: cover;
    vertical-align: middle;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
}
.container-com  h2{
    text-align: center;
    padding: 20px 10px;
    font-size: 42px;
    
}
.container-com .com h3{
    width: 90%;
    height: 15%;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 2px solid #bbb;
}

.container-com .com p{
    margin-bottom: 20px;
    height: 11%;
    font-size: 20px;
    padding: 10px 0;
}
/* 以下門市區 */
.branch{
    width: 100%;
    height: 100%;
    padding: 40px 0;
}
.branch .wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.branch .wrap .item{
   display: flex;
   
   margin: 20px;
   width: 45%;
   box-shadow: 0 0 10px #ccc;
   
}
.branch .wrap .item img{
 width: 300px;
 /* max-width: 100%;
 max-height: 100%; */
 height: 300px;
 vertical-align: middle;
 object-fit: cover;
}
.branch .wrap .text{
  padding: 20px;
  position: relative;
}
.branch .wrap .text p{
    font-size: 20px;
    line-height: 1.2;
}
.branch .wrap .text h3{
    font-size: 34px;
    padding-bottom: 10px;
}
.branch .wrap .text a{
    text-decoration: none;
    position: absolute;
    bottom: 6%;
    right: 6%;
    padding: 10px 15px;
    border-radius: 10px;
    color: #000;
    transition: .2s;
}
.branch .wrap .text a:hover{
    color: #fff;
    background-color: #fa0;
}
@media screen and (max-width:1080px) {
    .article .menu{
        display: none;
    }
    .article .articlerow{
        width: 100%; 
    }
    .container-com .com a{
    
        width: 28%;
    }
    .container-com .com{
        height: 900px;
    }
    .serve .item{
        
        width: 100%;
    }
    
    .container-com .com img{
        width: 100%;
        
        max-height: 400px;
    }
    .branch .wrap .text p{
        font-size: 16px;
        
    }
    .branch .wrap .text h3{
        font-size: 30px;
    }
    .branch .wrap .item img{
        width: 250px;
    }
    .footer{
        display: none;
    }
}

@media screen and (max-width:768px) {
    .title-navbar label {
        display: block;
    }

    .title-navbar .title-nav {
        display: none;
    }

    .title-navbar .branch-nav {
        /* display: none; */
        width: 60%;
        left: -100%;
        height: 100vh;
        z-index: 5;

    }

    .title-navbar .branch-nav nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

    }

    .title-navbar .branch-nav nav a {
        padding: 20px 15px;
        /* text-align: center; */
        width: 100%;
        font-size: 25px;
        border-bottom: 3px solid #fff;
        /* background-color: #fa0; */
    }
    .article .menu{
        display: none;
    }
    .article .articlerow{
        width: 100%; 
    }

    #menu_control:checked~.title-navbar .branch-nav {
        /* display: block; */
        opacity: 1;
        left: 0%;
    }
    .footer{
        display: none;
    }
    .food .row .col{
        width: 100%;
    }
    .food .row .col p{
        font-size: 16px;
        padding-bottom: 10px;
    }
   
    .food h2,h4{
        font-size: 25px;
    }
    .food .row .col h4{
        padding: 10 0px;
        margin: 20px;
    }
    .food .col:nth-child(3n+4){
        order: 0;
    }
    .container-fluid .foodtext h3 a {
        left: 85%;
        font-size: 21px;
    }
    .article .menu nav a{
        height: 20vh;
    }
    .article .articlerow .col{
        height: 100vh;
    }
    .serve .item{
        box-sizing: border-box;
        width: 100%;
        height: 50vh;
        max-height: 500px;
        margin: 0 0 20px 0;
        position: relative;
        
    }
    .serve .item p{
        
        
        font-size: 26px;
       
    }
    .container-com .com{
        height: 100%;
    }
    .container-com .com a{
        width: 100%;
    }
    .container-com  h2{
        font-size: 30px;
    }
    .pic-card .wrap{
        flex-wrap: wrap;
    }
    .pic-card .item{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }
    .pic-card .txt p{
        font-size: 13px;
    }
    .pic-card .txt h2{
        font-size: 16px;
    }
    .banner p{
        font-size: 18px;
    }
    .pic-card .item{
        width: 100%;
        
        height: 100%;
        max-height: 300px;
        overflow: hidden;
        position: relative;
    }
    .branch .wrap .item{
        
        width: 100%; 
     }
     .branch .wrap .text p{
        font-size: 17px;
     }
     .branch .wrap .text h3{
        font-size: 24px;
     }
     .branch .wrap .item img{
        width: 50%;
        height: 100%;
     }
     .branch .wrap .text p{
        font-size: 18px;
        line-height: 1.1;
    }
    .branch .wrap .text h3{
        font-size: 30px;
    }
}



